
nav.top-nav {
    height: 180px;
    box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 180px;
    font-size: 48px;
}

.weight-200 {
    font-weight: 200;
}
.weight-300 {
    font-weight: 300;
}
.weight-400 {
    font-weight: 400;
}
.weight-500 {
    font-weight: 500;
}

/* Custom Loader for gapmaps*/

.page-loader-container .dizzy-gillespie {
    filter: saturate(1);
    width: 0.1px;
    height: 0.1px;
    border: 25px solid transparent;
    border-radius: 40px;
    animation: loader 3s ease-in infinite,  spin 1s linear infinite;
    left: 50%;
    position: relative;
    top: 50%}

.material-icons {
    color: #757575;
}


@-webkit-keyframes loader {
    0% {
        border-bottom-color: transparent;
        border-top-color: #64b6c4;
    }
    25% {
        border-left-color: transparent;
        border-right-color: #dfac34;
    }
    50% {
        border-top-color: transparent;
        border-bottom-color: #e54d42;
    }
    75% {
        border-right-color: transparent;
        border-left-color: #3a113b;
    }
    100% {
        border-bottom-color: transparent;
        border-top-color: #64b6c4;
    }
}


@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}