/* Custom Loader for gapmaps*/

.page-loader-container .dizzy-gillespie {
    filter: saturate(1);
    width: 0.1px;
    height: 0.1px;
    border: 25px solid transparent;
    border-radius: 40px;
    animation: loader 3s ease-in infinite,  spin 1s linear infinite;
    left: 50%;
    position: relative;
    top: 50%}




@-webkit-keyframes loader {
    0% {
        border-bottom-color: transparent;
        border-top-color: #64b6c4;
    }
    25% {
        border-left-color: transparent;
        border-right-color: #dfac34;
    }
    50% {
        border-top-color: transparent;
        border-bottom-color: #e54d42;
    }
    75% {
        border-right-color: transparent;
        border-left-color: #3a113b;
    }
    100% {
        border-bottom-color: transparent;
        border-top-color: #64b6c4;
    }
}


@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}